.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  visibility: hidden;
}

.grid div {
  display: flex;
  font-size: 62px;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.reset-game-btn, .ai-bot-btn, .two-player-btn {
  display: none;
}

.start-game-btn {
  display: block;
}

.reload-game-btn {
  display: none;
}



.blue {
  border: 1px solid blue;

}

.red {
  border: 1px solid red;
}

.disabled-click {
  pointer-events: none;
}